<!DOCTYPE html>
<html lang="zxx">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title> Gitnoor :: {{title}}</title>
	<link rel="icon" type="image/png" href="assets/images/favicon.png" />

	<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

	<!--Core CSS -->
	<link rel="stylesheet" href="{{root}}assets/css/semantic-ui.css">
	<link rel="stylesheet" href="{{root}}assets/css/style.css">
	<!--Libraries-->

	<link rel="stylesheet" href="{{root}}assets/js/modalvideo/modal-video.min.css">
	<link rel="stylesheet" href="{{root}}assets/js/aos/aos.css">
	<script src="{{ root }}assets/js/core/createjs.min.js"></script>
	<script>
		var zon = true; // set to false to turn off console messages from zim
		var zns = false; // set to true to require zim namespace - eg. new zim.Frame()
	</script>
	<script src="{{ root }}assets/js/core/zim.js"></script><!-- add _doc to see code -->
	<!-- use zimjs.com/distill for minified individual functions! -->


</head>

<body>
	{{> pageloader}}


</body>

</html>
